POSTGRES_DB=USDatabase
POSTGRES_USER=admin
POSTGRES_PASSWORD=adminpsw

DATABASE_URL="postgresql://admin:adminpsw@postgres:5432/USDatabase?schema=public"

DOMAIN=http://localhost:3000/
VITE_API_URL=http://localhost:3000
